<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeMapper">
	
	<select id="login" parameterType="Employee" resultType="Employee">
		SELECT EMP_NO
			, EMP_NAME
			, EMP_PWD
			, DEPT_CODE
			, DEPT_NAME
			, EMP_RANK
			, RANK_NAME
			, AGE
			, PHONE
			, EMAIL
			, ADDRESS
			, BIRTHDAY
			, VACATION
			, JOIN_DATE
		FROM EMPLOYEE
		JOIN DEPARTMENT USING (DEPT_CODE)
		JOIN EMPLOYEE_RANK USING(EMP_RANK)
		WHERE EMP_NO = #{empNo}
	</select>
	<update id="enrollPwd" parameterType="Employee">
		UPDATE EMPLOYEE
		SET EMP_PWD = #{empPwd}
		WHERE EMP_NO = #{empNo}
	</update>
	
	<select id="info" parameterType="Employee" resultType="Employee">
		SELECT EMP_NO
			, EMP_NAME
			, DEPT_NAME
			, RANK_NAME
			, AGE
			, PHONE
			, EMAIL
			, ADDRESS
			, BIRTHDAY
			, JOIN_DATE
		FROM EMPLOYEE
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN EMPLOYEE_RANK USING(EMP_RANK)
		WHERE EMP_NO = #{empNo}
	</select>
	
	<select id="approveList" resultType="Employee" parameterType="Employee">
	     SELECT EMP_NO, EMP_NAME, DEPT_NAME
		 FROM EMPLOYEE
		 JOIN DEPARTMENT USING(DEPT_CODE)
	     WHERE EMP_RANK IN('R2','R3')
	     AND DEPT_CODE IN (	
                     SELECT DEPT_CODE
                 	 FROM EMPLOYEE
            		 WHERE EMP_NO = #{empNo}
                 	 UNION ALL
                     SELECT PARENT_DEPT
               	     FROM EMPLOYEE
           	  		 JOIN DEPARTMENT USING(DEPT_CODE)
                     WHERE EMP_NO = #{empNo})
	</select>
	
	
	
	<select id="employeeDetail" parameterType="Employee" resultType="Employee">
	   SELECT EMP_NO
			, EMP_NAME
			, DEPT_NAME
			, RANK_NAME
			, PHONE
			, EMAIL
			, ADDRESS
			, BIRTHDAY
			, JOIN_DATE
		FROM EMPLOYEE
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN EMPLOYEE_RANK USING(EMP_RANK)
		WHERE EMP_NO = #{empNo}
	</select>
	
	<select id="employeeUpdate" parameterType="Employee" resultType="Employee">
  	 UPDATE EMPLOYEE
   		SET 
       EMP_NAME = #{empName}, 
       PHONE = #{phone},
       ADDRESS = #{address},
       EMAIL = #{email}
   WHERE EMP_NO = #{empNo}
</select>
	
	
	<select id="employeeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM EMPLOYEE
		WHERE EMP_NO != 99
	</select>
	<select id="employeeList" resultType="Employee">
		SELECT EMP_NO
			, DEPT_NAME
			, RANK_NAME
			, EMP_NAME
			, JOIN_DATE
		FROM EMPLOYEE
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN EMPLOYEE_RANK USING(EMP_RANK)
		WHERE EMP_NO != 99
		ORDER BY DEPT_CODE, EMP_RANK, EMP_NO
	</select>
	
	
	<select id="employeeSearchListCount" parameterType="Search" resultType="_int">
		SELECT COUNT(*)
		FROM EMPLOYEE
		WHERE EMP_NO != 99
		<choose>
			<when test="mode=='NO'">
				AND EMP_NO = #{keyword}
			</when>
			<when test="mode=='DEPT'">
				AND DEPT_NAME LIKE '%'||#{keyword}||'%'
			</when>
			<when test="mode=='RANK'">
				AND RANK_NAME LIKE '%'||#{keyword}||'%'
			</when>
			<when test="mode=='NAME'">
				AND EMP_NAME LIKE '%'||#{keyword}||'%'
			</when>
			<when test="mode=='DATE'">
				AND JOIN_DATE LIKE '%'||#{keyword}||'%'
			</when>
		</choose>
	</select>
	<select id="employeeSearchList" parameterType="Search" resultType="Employee">
		SELECT EMP_NO
			, DEPT_NAME
			, RANK_NAME
			, EMP_NAME
			, JOIN_DATE
		FROM EMPLOYEE
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN EMPLOYEE_RANK USING(EMP_RANK)
		WHERE EMP_NO != 99
		<choose>
			<when test="mode=='NO'">
				AND EMP_NO = #{keyword}
			</when>
			<when test="mode=='DEPT'">
				AND DEPT_NAME LIKE '%'||#{keyword}||'%'
			</when>
			<when test="mode=='RANK'">
				AND RANK_NAME LIKE '%'||#{keyword}||'%'
			</when>
			<when test="mode=='NAME'">
				AND EMP_NAME LIKE '%'||#{keyword}||'%'
			</when>
			<when test="mode=='DATE'">
				AND JOIN_DATE LIKE '%'||#{keyword}||'%'
			</when>
		</choose>
		ORDER BY DEPT_CODE, EMP_RANK, EMP_NO
	</select>
	
	<update id="updateDept" parameterType="Employee">
		UPDATE EMPLOYEE
		SET DEPT_CODE = #{deptCode}
		WHERE EMP_NO = #{empNo}
	</update>
	<update id="updateRank" parameterType="Employee">
		UPDATE EMPLOYEE
		SET EMP_RANK = #{empRank}
		WHERE EMP_NO = #{empNo}
	</update>
	<select id="appointmentTypeList" resultType="Appointment">
		SELECT *
		FROM APPOINTMENT_TYPE
	</select>
	<insert id="insertEmployee" parameterType="Employee">
		INSERT INTO EMPLOYEE(EMP_NO,DEPT_CODE,EMP_RANK,EMP_NAME)
		VALUES(SEQ_EMPLOYEE_NO.NEXTVAL, #{deptCode}, #{empRank}, #{empName})
	</insert>
	<insert id="insertAppointment" parameterType="Appointment">
		INSERT INTO PERSONNEL_APPOINTMENT
		<choose>
			<when test="empNo==0">
				VALUES(SEQ_APPOINTMENT_NO.NEXTVAL, SEQ_EMPLOYEE_NO.CURRVAL, DEFAULT, #{appointmentTypeCode}, #{newDept}, #{newRank})
			</when>
			<otherwise>
				VALUES(SEQ_APPOINTMENT_NO.NEXTVAL, #{empNo}, DEFAULT, #{appointmentTypeCode}, #{newDept}, #{newRank})
			</otherwise>
		</choose>
	</insert>
	<select id="appointmentListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PERSONNEL_APPOINTMENT
	</select>
	<select id="appointmentList" resultType="Appointment">
		SELECT APPOINTMENT_NO
			, EMP_NAME
			, APPOINTMENT_DATE
			, APPOINTMENT_TYPE_NAME
			, D.DEPT_NAME
			, R.RANK_NAME
		FROM PERSONNEL_APPOINTMENT P
		JOIN EMPLOYEE USING(EMP_NO)
		JOIN APPOINTMENT_TYPE USING(APPOINTMENT_TYPE_CODE)
		LEFT JOIN DEPARTMENT D ON(D.DEPT_CODE = P.NEW_DEPT)
		LEFT JOIN EMPLOYEE_RANK R ON(R.EMP_RANK = P.NEW_RANK)
		ORDER BY APPOINTMENT_DATE
	</select>
	
	
	<select id="appointmentSearchListCount" parameterType="Search" resultType="_int">
		SELECT COUNT(*)
		FROM PERSONNEL_APPOINTMENT
		JOIN EMPLOYEE USING(EMP_NO)
		<where>
			<choose>
				<when test="mode == 'NO'">
					APPOINTMENT_NO = #{keyword}
				</when>
				<when test="mode == 'NAME'">
					EMP_NAME LIKE '%'||#{keyword}||'%'
				</when>
				<when test="mode == 'DATE'">
					APPOINTMENT_DATE LIKE '%'||#{keyword}||'%'
				</when>
			</choose>
		</where>
	</select>
	<select id="appointmentSearchList" parameterType="Search" resultType="Appointment">
		SELECT APPOINTMENT_NO
			, EMP_NAME
			, APPOINTMENT_DATE
			, APPOINTMENT_TYPE_NAME
			, D.DEPT_NAME
			, R.RANK_NAME
		FROM PERSONNEL_APPOINTMENT P
		JOIN EMPLOYEE USING(EMP_NO)
		JOIN APPOINTMENT_TYPE USING(APPOINTMENT_TYPE_CODE)
		LEFT JOIN DEPARTMENT D ON(D.DEPT_CODE = P.NEW_DEPT)
		LEFT JOIN EMPLOYEE_RANK R ON(R.EMP_RANK = P.NEW_RANK)
		<where>
			<choose>
				<when test="mode == 'NO'">
					APPOINTMENT_NO = #{keyword}
				</when>
				<when test="mode == 'NAME'">
					EMP_NAME LIKE '%'||#{keyword}||'%'
				</when>
				<when test="mode == 'DATE'">
					APPOINTMENT_DATE LIKE '%'||#{keyword}||'%'
				</when>
			</choose>
		</where>
		ORDER BY APPOINTMENT_DATE
	</select>
</mapper>