<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeMapper">
	
	<select id="login" parameterType="Employee" resultType="Employee">
		SELECT EMP_NO
			, EMP_NAME
			, EMP_PWD
			, DEPT_CODE
			, DEPT_NAME
			, EMP_RANK
			, RANK_NAME
			, AGE
			, PHONE
			, EMAIL
			, ADDRESS
			, BIRTHDAY
			, VACATION
			, JOIN_DATE
		FROM EMPLOYEE
		JOIN DEPARTMENT USING (DEPT_CODE)
		JOIN EMPLOYEE_RANK USING(EMP_RANK)
		WHERE EMP_NO = #{empNo}
	</select>
	<update id="enrollPwd" parameterType="Employee">
		UPDATE EMPLOYEE
		SET EMP_PWD = #{empPwd}
		WHERE EMP_NO = #{empNo}
	</update>
	
	<select id="info" parameterType="Employee" resultType="Employee">
		SELECT EMP_NO
			, EMP_NAME
			, DEPT_NAME
			, RANK_NAME
			, AGE
			, PHONE
			, EMAIL
			, ADDRESS
			, BIRTHDAY
			, VACATION
			, JOIN_DATE
		FROM EMPLOYEE
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN EMPLOYEE_RANK USING(EMP_RANK)
		WHERE EMP_NO = #{empNo}
	</select>
	
	<select id="messengerEmpList" parameterType="Employee" resultType="Messenger">
		SELECT EMP_NO
		        , EMP_NAME
		        , DEPT_CODE
		        , DEPT_NAME
		        , EMP_RANK
		        , RANK_NAME
		        , UNREAD_COUNT
		FROM EMPLOYEE
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN EMPLOYEE_RANK USING(EMP_RANK)
		LEFT JOIN (
			    	SELECT SEND, RECEIVE, COUNT(*) AS "UNREAD_COUNT"
			        FROM MESSAGE_DATA
			        WHERE RECEIVE = #{empNo} 
			        AND READ_MSG = 'N'
			        GROUP BY SEND, RECEIVE
			        ) ON(EMP_NO = SEND)
		WHERE EMP_NO != #{empNo} 
		AND EMP_NO != 99
		ORDER BY DEPT_CODE, EMP_RANK, EMP_NAME
	</select>
	<select id="messengerEmpSearchList" parameterType="Employee" resultType="Messenger">
		SELECT EMP_NO
		        , EMP_NAME
		        , DEPT_CODE
		        , DEPT_NAME
		        , EMP_RANK
		        , RANK_NAME
		        , UNREAD_COUNT
		FROM EMPLOYEE
		JOIN DEPARTMENT USING(DEPT_CODE)
		JOIN EMPLOYEE_RANK USING(EMP_RANK)
		LEFT JOIN (
			    	SELECT SEND, RECEIVE, COUNT(*) AS "UNREAD_COUNT"
			        FROM MESSAGE_DATA
			        WHERE RECEIVE = #{empNo} 
			        AND READ_MSG = 'N'
			        GROUP BY SEND, RECEIVE
			        ) ON(EMP_NO = SEND)
		WHERE EMP_NO != #{empNo} 
		AND EMP_NO != 99 
		AND EMP_NAME LIKE '%'||#{empName}||'%'
		ORDER BY DEPT_CODE, EMP_RANK, EMP_NAME
	</select>
	
</mapper>