<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itemMapper">
	<select id="customerListCount" resultType="_int">
		SELECT COUNT(*) COUNT
		FROM CUSTOMER
		ORDER BY CUSTOMER_NO
	</select>
	<select id="customerList" resultType="Customer">
		SELECT *
		FROM CUSTOMER
		ORDER BY CUSTOMER_NO
	</select>
	<select id="searchCustomerListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) COUNT
		FROM CUSTOMER
		WHERE CUSTOMER_NO LIKE '%'||#{keyword}||'%'
		OR CUSTOMER_NAME LIKE '%'||#{keyword}||'%'
		OR CUSTOMER_TEL LIKE '%'||#{keyword}||'%'
		OR CUSTOMER_ADDRESS LIKE '%'||#{keyword}||'%'
	</select>
	<select id="searchCustomerList" parameterType="string" resultType="Customer">
		SELECT *
		FROM CUSTOMER
		WHERE CUSTOMER_NO LIKE '%'||#{keyword}||'%'
		OR CUSTOMER_NAME LIKE '%'||#{keyword}||'%'
		OR CUSTOMER_TEL LIKE '%'||#{keyword}||'%'
		OR CUSTOMER_ADDRESS LIKE '%'||#{keyword}||'%'
	</select>
	
	<insert id="customerInsert" parameterType="Customer">
		INSERT INTO CUSTOMER
		VALUES(SEQ_CUSTOMER_NO.NEXTVAL,#{customerName},#{customerTel},#{customerAddress})
	</insert>
	<update id="customerUpdate" parameterType="Customer">
		UPDATE CUSTOMER
		SET CUSTOMER_NAME = #{customerName}
			, CUSTOMER_TEL = #{customerTel}
			, CUSTOMER_ADDRESS = #{customerAddress}
		WHERE CUSTOMER_NO = #{customerNo}
	</update>
	
	<select id="stockListCount" resultType="_int">
		SELECT COUNT(*) COUNT
		FROM ITEM
		ORDER BY ITEM_NAME
	</select>
	<select id="stockList" resultType="Item">
		SELECT I.ITEM_CODE AS "ITEM_CODE",
		       ITEM_NAME,
		       ITEM_PRICE,
		       ITEM_COUNT,
		       LISTAGG(CL.ITEM_CATEGORY_NAME, ', ') WITHIN GROUP (ORDER BY CL.ITEM_CATEGORY_NAME) AS "ITEM_CATEGORY_NAME"
		FROM ITEM I
		LEFT JOIN ITEM_CATEGORY C ON (I.ITEM_CODE = C.ITEM_CODE)
		LEFT JOIN ITEM_CATEGORY_LIST CL ON (C.ITEM_CATEGORY_NO = CL.ITEM_CATEGORY_NO)
		GROUP BY I.ITEM_CODE, ITEM_NAME, ITEM_PRICE, ITEM_COUNT
		ORDER BY I.ITEM_CODE
	</select>
	
	<select id="itemCategoryList" resultType="CategoryList">
		SELECT *
		FROM ITEM_CATEGORY_LIST
	</select>
	
	<select id="itemDetail" parameterType="Item" resultType="Item">
		SELECT I.ITEM_CODE AS "ITEM_CODE",
		       ITEM_NAME,
		       ITEM_PRICE,
		       ITEM_COUNT,
		       LISTAGG(CL.ITEM_CATEGORY_NAME, ', ') WITHIN GROUP (ORDER BY CL.ITEM_CATEGORY_NAME) AS "ITEM_CATEGORY_NAME"
		FROM ITEM I
		LEFT JOIN ITEM_CATEGORY C ON (I.ITEM_CODE = C.ITEM_CODE)
		LEFT JOIN ITEM_CATEGORY_LIST CL ON (C.ITEM_CATEGORY_NO = CL.ITEM_CATEGORY_NO)
		WHERE I.ITEM_CODE = #{itemCode}
		GROUP BY I.ITEM_CODE, ITEM_NAME, ITEM_PRICE, ITEM_COUNT
	</select>
	<select id="itemCategory" parameterType="Item" resultType="CategoryList">
		SELECT ITEM_CATEGORY_NO
		    , ITEM_CATEGORY_NAME
		FROM ITEM_CATEGORY_LIST
		JOIN ITEM_CATEGORY USING(ITEM_CATEGORY_NO)
		WHERE ITEM_CODE = #{itemCode}
	</select>
	<delete id="itemCategoryReset" parameterType="Item">
	    DELETE FROM ITEM_CATEGORY
	    WHERE ITEM_CODE = #{itemCode}
	</delete>
	<insert id="itemCategoryUpdate" parameterType="java.util.List">
	    INSERT ALL
	    <foreach collection="list" item="category">
	        INTO ITEM_CATEGORY (ITEM_CODE, ITEM_CATEGORY_NO)
	        VALUES (#{category.itemCode}, #{category.itemCategoryNo})
	    </foreach>
	    SELECT * FROM DUAL
	</insert>
	<update id="itemUpdate" parameterType="Item">
		UPDATE ITEM
		SET ITEM_NAME = #{itemName}
			, ITEM_PRICE = #{itemPrice}
		WHERE ITEM_CODE = #{itemCode}
	</update>
	
	<select id="itemSearchListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM (
		    SELECT I.ITEM_CODE AS ITEM_CODE,
		           I.ITEM_NAME AS ITEM_NAME,
		           I.ITEM_PRICE AS ITEM_PRICE,
		           I.ITEM_COUNT AS ITEM_COUNT,
		           LISTAGG(CL.ITEM_CATEGORY_NAME, ', ') 
		               WITHIN GROUP (ORDER BY CL.ITEM_CATEGORY_NAME) AS ITEM_CATEGORY_NAME
		    FROM ITEM I
		    LEFT JOIN ITEM_CATEGORY C ON (I.ITEM_CODE = C.ITEM_CODE)
		    LEFT JOIN ITEM_CATEGORY_LIST CL ON (C.ITEM_CATEGORY_NO = CL.ITEM_CATEGORY_NO)
			WHERE I.ITEM_CODE LIKE '%'||#{keyword}||'%'
			OR I.ITEM_NAME LIKE '%'||#{keyword}||'%'
			OR I.ITEM_PRICE LIKE '%'||#{keyword}||'%'
			OR CL.ITEM_CATEGORY_NAME LIKE '%'||#{keyword}||'%'
		    GROUP BY I.ITEM_CODE, I.ITEM_NAME, I.ITEM_PRICE, I.ITEM_COUNT
		)
	</select>
	<select id="itemSearchList" parameterType="string" resultType="Item">
		SELECT I.ITEM_CODE AS "ITEM_CODE",
		       I.ITEM_NAME AS ITEM_NAME,
	           I.ITEM_PRICE AS ITEM_PRICE,
	           I.ITEM_COUNT AS ITEM_COUNT,
		       LISTAGG(CL.ITEM_CATEGORY_NAME, ', ') WITHIN GROUP (ORDER BY CL.ITEM_CATEGORY_NAME) AS "ITEM_CATEGORY_NAME"
		FROM ITEM I
		LEFT JOIN ITEM_CATEGORY C ON (I.ITEM_CODE = C.ITEM_CODE)
		LEFT JOIN ITEM_CATEGORY_LIST CL ON (C.ITEM_CATEGORY_NO = CL.ITEM_CATEGORY_NO)
		WHERE I.ITEM_CODE LIKE '%'||#{keyword}||'%'
		OR I.ITEM_NAME LIKE '%'||#{keyword}||'%'
		OR I.ITEM_PRICE LIKE '%'||#{keyword}||'%'
		OR CL.ITEM_CATEGORY_NAME LIKE '%'||#{keyword}||'%'
		GROUP BY I.ITEM_CODE, ITEM_NAME, ITEM_PRICE, ITEM_COUNT
		ORDER BY I.ITEM_CODE
	</select>
</mapper>