#item-stock-page>div {
	margin: 10px 0;
}

table {
	border-collapse: collapse;
}

#item-stock-table {
	width: 1200px;
}

#item-stock-table th,
#item-stock-table td {

	border: 2px solid black;
	text-align: center;
}

#item-stock-table thead {
	background-color: rgb(225, 235, 255);
}

#item-stock-table tr:hover {
	background-color: rgb(192, 192, 192);
}

#item-stock-table>thead>tr:hover {
	background-color: rgba(0, 0, 0, 0);
}

#item-stock-pagingbar>input {
	width: 30px;
}

#item-stock-search-keyword {
	margin-left: 20px;
}

#item-stock-input-area {
	width: 1200px;
}

.add {
	float: right;
}

.modal-submit-btn {
	width: 80%;
	margin-top: 10px;
}

input {
	outline: none;
}

.item-category-checkbox{
	margin:0;
}

#item-catagory-select-head{
	width:80%;
	margin: 0 auto;
}
#item-catagory-select-body{
	width:100%;
	margin:-2px;
}
#category-scroll-wrap{
	border: 2px solid black ;
	border-top: 0;
	margin: 0 auto;
	width: 80%;
	height: 250px;
	overflow-y: auto;
		
}


